.navbar {
  position: absolute;
  z-index: 9998;
  background-color: none;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  position: fixed;
  right: 2rem;
  top: 3vh;
}
.welcome {
  color: white;
  font-size: 1rem;
  position: fixed;
  right: 5rem;
  top: 3vh;
}
.logo {
  width: 70px;
  height: 70px;
  position: relative;
  left: 2vh;
  top: 2vh;
}

.nav-menu {
  background-color: none;
  color: white;
  width: 12rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 5rem;
  right: -100%;
  transition: 800ms;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
  z-index: 9998;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: 100%;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: rgb(17, 3, 31);
}

.nav-menu-item {
  width: 100%;
}

.nav-menu-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-self: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

@media screen and (max-width: 640px) {
  .navbar {
    position: absolute;
    z-index: 9998;
    background-color: none;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    position: fixed;
    right: 1rem;
    top: 4vh;
  }
  .welcome {
    top: 5vh;
    right: 4rem;
    font-size: x-small;
  }
  .logo {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 4vw;
    top: 3.5vh;
  }

  .nav-menu-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-self: start;
    align-items: center;
  }
}
